<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>kotnetloginextension</string>
			<key>Developer Identifier</key>
			<string>PD9UEQGPTR</string>
			<key>CFBundleVersion</key>
			<string>5</string>
			<key>CFBundleShortVersionString</key>
			<string>1.8</string>
			<key>URL</key>
			<string>http://kotnetloginextension.googlecode.com/files/kotnetlogin_safari_1.8.safariextz</string>
		</dict>
	</array>
</dict>
</plist>