<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Key</key>
		<string>username</string>
		<key>Password</key>
		<false/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Login</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>password</string>
		<key>Password</key>
		<true/>
		<key>Secure</key>
		<true/>
		<key>Title</key>
		<string>Wachtwoord</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>kuleuven</string>
		<key>Key</key>
		<string>institute</string>
		<key>Secure</key>
		<false/>
		<key>Title</key>
		<string>Instelling</string>
		<key>Titles</key>
		<array>
			<string>K.U.Leuven</string>
			<string>GroepT</string>
			<string>HUBrussel</string>
			<string>KATHO</string>
			<string>KHBO</string>
			<string>KHLeuven</string>
			<string>KHLim</string>
			<string>Lessius Antwerpen</string>
			<string>Lessius Mechelen</string>
			<string>Sint Lukas</string>
			<string>W&amp;K</string>
			<string>KotNet Extern</string>
		</array>
		<key>Type</key>
		<string>PopUpButton</string>
		<key>Values</key>
		<array>
			<string>kuleuven</string>
			<string>groept-aid</string>
			<string>hubrussel-aid</string>
			<string>katho-aid</string>
			<string>khbo-aid</string>
			<string>khleuven-aid</string>
			<string>khlim-aid</string>
			<string>lessius-aid</string>
			<string>khm-aid</string>
			<string>sintlukas-aid</string>
			<string>wenk-aid</string>
			<string>kotnetext</string>
		</array>
	</dict>
</array>
</plist>
